{% extends 'base.html' %}
{% block body %}

  <div class="container">
    <h2 class="mt-3">Digital Product Management - Web Form Template</h2>
    <hr class="my-4">
    <main>
      <form action="/add" method="POST">
        <div class="mb-3">
          <label for="Title-name" class="form-label">Title</label>
          <input type="text" class="form-control" id="Title-name" name="tname" />
        </div>
        <div class="mb-3">
          <label for="Author-name" class="form-label">Author</label>
          <input type="text" class="form-control" id="Author-name" name="aname" />
        </div>
        <div class="mb-3">
          <label for="Page-name" class="form-label">Pages</label>
          <input type="text" class="form-control" id="Page-name" name="pname" />
        </div>
        <div class="mb-3">
          <label class="form-label d-block">Classification</label>
          <div>
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" id="read-Fiction" name="read" value="Fiction" required>
              <label class="form-check-label" for="read-Fiction">Fiction</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" id="read-Non-Fiction" name="read" value="Non-Fiction" required>
              <label class="form-check-label" for="read-Non-Fiction">Non-Fiction</label>
            </div>
          </div>
        </div>
        <fieldset class="mb-3">
          <legend>Details:</legend>
          <div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="own-book" name="activities" value="ownbook">
              <label class="form-check-label" for="own-book">I own this book.</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="read-book" name="activities" value="readbook">
              <label class="form-check-label" for="read-book">I've read this book.</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="like-book" name="activities" value="likebook">
              <label class="form-check-label" for="like-book">I liked this book.</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="recommend-book" name="activities" value="recommendbook">
              <label class="form-check-label" for="recommend-book">I would recommend this book to others.</label>
            </div>
          </div>
        </fieldset>
        <div class="mb-3">
          <label for="Acquisition" class="form-label">How did I get this book?</label>
          <select class="form-select" name="Acquisition" id="book" required>
            <option value="" selected>Choose one...</option>
            <option value="purchased">I purchased it.</option>
            <option value="gift">It was a gift.</option>